src/main/mule/demoaccounts-xapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <flow name="demoaccounts-xapi-main">
        <http:listener config-ref="demoaccounts-xapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="demoaccounts-xapi-config" />
        <error-handler>
            <on-error-propagate type="ANY" enableNotifications="true" logException="true">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	apiName: p('api.name'),
	correlationId: attributes.headers.'x-correlation-id' default correlationId,
	timestamp: now(),
	errorDetails: {
		code: 500,
		message: error.description
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\accounts:demoaccounts-xapi-config">
        <logger level="INFO" message="Request received for account id : #[attributes.queryParams.accountId]"/>
		<http:request method="GET" doc:name="demoaccounts-sapi" doc:id="7e9575d3-4149-4623-9e48-63b23d950ef9" config-ref="HTTP_Request_configuration" path="/api/accounts">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : p('secure::client_secret'),
	"client_id" : p('secure::client_id')
}]]]></http:headers>
			<http:query-params ><![CDATA[#[{
	"accountId": attributes.queryParams.accountId
}]]]></http:query-params>
		</http:request>
    </flow>
</mule>
